.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0;
    background-color: #2196F3;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.cash_btn {
    grid-column-start: 3;
    grid-column-end: 5;
}

.clear_btn {
    grid-column-start: 5;
    grid-column-end: 7;
}