.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 0;
    background-color: #2196F3;
    padding: 10px;
    margin: 0;
    padding: 0;
}

.cash_btn {
    grid-column-start: 3;
    grid-column-end: 5;
    width: 130px;
    background-color: transparent;
    border: none;
}

.btn_img {
    object-fit: contain;
    width: 130px;
}

.cash_btn_txt_style {
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 3px;
    text-shadow: black 1px 1px;
    text-align: center;
    position: absolute;
    transform: translate(0.8em, 0em);
}

.clear_btn {
    grid-column-start: 5;
    grid-column-end: 7;
    width: 130px;
    background-color: transparent;
    border: none;
}

.clear_btn_txt_style {
    font-family: "Gothic A1", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 2px;
    text-shadow: black 1px 1px;
    text-align: center;
    position: absolute;
    transform: translate(0.5em, 0em);
}